
table {
	border: 1px solid black;
	table-layout: fixed;
	width: auto;
	text-align: left;
}
th {
	padding: 10px;
	background-color: #BFC2DF;
	font-size: 12px;
}
td {
	font-size: 10px;
	background-color: #DEDFEF;
	padding: 3px;
}
p {
	margin: 3px 0;
}
#city {
	width: 100%;
}
#add {
	width: 100%;
}
#email {
	width: 100%;
}
#confirm_email {
	width: 100%;
}
.phone_number {
	width: 10%;
}
#address1, #address2 {
	width: 15%;
}
#pass1,#pass2 {
	width: 50%;
}
.check, #pass1-error, #pass2-error {
	color: #ff3333;
}
table i {
	color: white;
	background-color: #ff3333;
	padding: 2px;
	font-size: 0.8em;
	float: right;
	margin-left: 10px;
}