@charset "utf-8";

#container {
	margin: 0 auto;
	width: 50%;
}
#container li{
	padding-left: 10px;
}
#container ul {
	border: 1px solid black;
	border-radius: 10px;
	padding-left: 0px;
}
a.btn{
	background-color: #9F1D2F;
}
.btn{
	color: white;
	padding: 5px 10px 5px 10px;
	text-align: right;
	border-radius: 5px;
}
.border {
	border-bottom: 1px solid black;
}
