@charset "UTF-8";

html{
  font-family: arial,sans-serif;
  height: 100%;
}
body{
  margin:auto;
  height: 100%;
  width: 100%;
}
header{
  background-color: rgba(0,0,0,0.85);
  color: #eee;
  height: auto;
}
#container{
  overflow: hidden; /* サイドバーのあまりを隠す */
  width: auto;
}
#sidebar{
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  width: 9rem;
  border-right: 2px solid rgba(255,255,255,0.5);
  float: left;
  padding-bottom: 32768px; /* サイドバーの高さをメインと同じにする */
  margin-bottom: -32768px; /* 同上 */
}
header a{
  color: #eee;
}
header h2{
  margin: 0;
  padding: 1.5rem 0;
  padding-left: 0.5rem;
}
header li a{
  padding: 0.6rem 3rem;
}
header nav{
  border-top: 1px solid #fff;
}
header ul{
  padding: 0;
  margin: 0;
  font-size: 0;
}
header li{
  font-size: 15px;
  display: inline-block;
  padding: 0.6rem 0;
  border-right: 1px solid #fff;
}
#sidebar a ,#header li a{
  text-align: center;
}
a{
  text-decoration: none;
}
#sidebar ul{
  padding: 3rem 0;
  list-style-type:none;
}
#sidebar li{
  font-size: 15px;
  border-bottom: 1px solid #fff;
}
#sidebar a{
  display: block;
  padding: 0.5rem;
  color: #eee;

}
li :hover{
  background-color: rgba(255,255,255,0.3);
}
main{
  margin-left: calc(9rem + 2px);
  padding:30px 20px;
  width: auto;
  height: auto;
  background-color: #aaaeee;
}
#product-manager{
  background-color: #eee;
  width: auto;
}
.search-results{
  width: 600px;
  height: 600px;
  overflow: scroll;
}
