@charset "UTF-8";
h2{
  border-bottom: 1px grey solid;
  color: #efefef;
}
#search-db{
  width: 500px;
  height: 40px;
  margin-left: 27%;
  color: #AACFD0;
  font-size: 30px;
  background-color: #F4F7F7;
}
#search-btn{
  height: 40px;
}
.search-results{
  position: relative;
  background-color: #79A8A9;
  margin: 30px 20px 0 20px;
  border-radius: 25px;
  width: 70%;
  height: 65vh;
  margin-left: 7%;
  padding-left: 10%;
  padding-right: 50px;
  color: #efefef;
}
.product-price{
  text-align: center;

}
a{
  text-decoration: none;
  color:#AACFD0;
}

.edit, .delete{
  text-decoration: none;
  background-color: #1F4E5F;
  text-align: center;
  border: #efefef solid 1px;
}

.highlighted{
  background-color: rgba(255,255,255,0.3);
}
.highlighted a{
  color: #1F4E5F;
}
.product-name{
  color: #1F4E5F;
}

