@charset "UTF-8";
body {

}
html{
  font-family: arial,sans-serif;
  height: 100%;
}

body{
  margin:auto;
  height: 100%;
  width: 100%;
}
header{
  position: fixed;
  z-index: 9999;
  background-color: #1F4E5F;
  color: #eee;
  height: auto;
  width: 100%;
  border-bottom: 2px solid rgba(255,255,255,0.5);
}
/*#container{
  overflow: hidden;  サイドバーのあまりを隠す
  width: auto;
}*/
#sidebar{
  position: fixed;
  z-index: 9999;
  margin-top: 86px;
  background-color: #1F4E5F;
  height: 100%;
  width: 9rem;
  border-right: 2px solid rgba(255,255,255,0.5);
  float: left;
  /*padding-bottom: 32768px;  /*サイドバーの高さをメインと同じにする */
  /*margin-bottom: -32768px; /* 同上 */
}
header a{
  color: #eee;
}
header h2{
  margin: 0;
  padding: 0.5rem 0;
  padding-left: 0.5rem;
}
header li a{
  padding: 0.6vh 2vw;
}
header nav{
 height: 30px;
  border-top: 1px solid #fff;
}
header ul{
  padding: 0;
  margin: 0;
  font-size: 0;
}
header li{
  font-size: 15px;
  display: inline-block;
  padding: 0.6vh 0;
  border-right: 1px solid #fff;
}
#sidebar a ,#header li a{
  text-align: center;
}
a{
  text-decoration: none;
}
#sidebar ul{
  padding: 3rem 0;
  list-style-type:none;
}
#sidebar li{
  font-size: 15px;
  border-bottom: 1px solid #fff;
}
#sidebar a{
  display: block;
  padding: 0.5rem;
  color: #eee;

}
li :hover{
  background-color: rgba(255,255,255,0.3);
}
main{
  margin-left: calc(9rem + 2px);
  padding:80px 20px;
  width: auto;
  height: auto;
  background-color: #AACFD0;
  opacity: 50%;
}
#product-manager{
  width: auto;
}
.search-results{
  border: 2px white inline;
  width: 600px;
  height: 300px;
  overflow: scroll;
}
