#recommended {
  height: 200px;
}
.box{
  display: block;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 0 3rem 2rem 0.5rem;
  margin-bottom: 2rem;
}
#date {
	margin-bottom: 10em;
}
h2 {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}