@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Aldrich);

header, #sidebar, .search_bar, footer {
  font-family: 'Aldrich', sans-serif;
}
* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}
a {
  text-decoration: none;
  font-size: 0.8rem;
}
html {
  height: 100%
}
body {
  width:75%;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}
ul {
  list-style-type: none;
}
header {
  height: 140px;
  padding-top: 30px;
  width: 100%;
}
header img {
  margin: 10px 0 0 10px;
  height: 80px;
}
header h2 {
  margin: 15px auto;
}
header nav {
  text-align: right;
  margin-top: -100px;
}
header ul {
  padding-left: 0;
  margin: 15px auto;
}
header li{
  display: inline-block;
  margin: 0 10px;
}
#search{
  margin: 0 30%;
  margin-top: -30px;
}
.btn_search{
  padding: 5px 10px 7.5px 10px;
  margin-left: -41px;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  webkit-border-radius: 0 10px 10px 0;
}
.search_bar{
  vertical-align: middle;
  border-radius: 10px;
  -moz-border-radius: 10px;
  webkit-border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 5.25px 6px;
  height: 30.5px;
  width:300px;
}
#side_search {
  margin: 80px 0 0 20px;
}
main {
  font-family: sans-serif;
  margin: 1.5rem 0;
  width:auto;
  height: 100%;
  padding-bottom: 100px;
}
.sidebar{
  z-index: 10000;
  width: 275px;
  margin-left: -200px; /* 左に隠す */
  -webkit-transition: margin-left .25s ease;
  transition: margin-left .25s ease;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}
.sidebar--open{
  margin-left: 0;
}
#sidebar > p {
  position: absolute;
  top: 50%;
  margin: -15px 0 0 75%;
  transform: rotate( 90deg );
  font-size: 0.8em;
  text-align: center;
}
#sidebar ul {
  margin-top: 80px;
}
#sidebar nav a {
  width: 170px;
  display: block;
  font-size: 0.9rem;
  margin: 10px 0;
}
#top{
  position: fixed;
  bottom: 0;
  right: 2%;
  z-index: 60;
}
#top a{
  display: block;
}
#top:hover {
  opacity: 0.8;
}
#top .fa{
  background-color: rgba(255,255,255,0);
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 5px 0;
}
@media (max-width: 1015px){
  body{
    width: 900px;
  }
  header, main, footer{
    margin-left: 100px;
  }
}
