body {
  background-color: #ffffff;
}
header {
  border-bottom: 1px solid #e3e3e3;
}
.search_bar{
  border-color: #e2e2e2;
}
.search_bar:focus{
  background-color: #eeeeee;
}
.fa {
  color: #8E8E8E;
  background-color: white;
}
a[title] {
  color: #555555;
}
a[title]:hover {
  text-decoration: underline;
}
#sidebar {
  background-color: #9F1D2F;
}
#sidebar p, #sidebar nav a {
  color: #ffffff;
}
#sidebar nav a:hover{
  background: #AC4F5B;
}
#top a {
  color: #9F1D2F;
}
footer {
  border-top: 1px solid #9F1D2F;
}