@charset "UTF-8";
body{
  background-color: #F9F3CF;
}
header{
  z-index: 1;
  position:fixed;
  width: 100%;
  top:2%;
}
#search-tab{
	margin-left: 35%;
}
aside{
  background-color: #AA512F;
  z-index: 2;
  position: absolute;
  left:20px;
  top:5px;
  width: 15%;
  height: 100%;
  opacity: 0.9;
}
#oic-books-logo{
  margin-top: 25%;
  padding-top: 10px;
  background-color: #DDBC89;
  height: 5%;
  text-align: center;
}
#advertisement-tab{
  margin-top: 25%;
  margin-left: 20%;
  height: 20%;
}
#new-arrivals-tab{
  margin-top: 2%;
  margin-left: 20%;
  height: 20%;
}

#advertisement-tab, #new-arrivals-tab, header{
  background-color: #AA812F;
}
