@charset "UTF-8";
<<<<<<< HEAD

.find{
	width:100%;
	border: 1px solid #000;
}

.find div {
	width: 50%;
	border: 1px solid #FF0000;
	margin: 0 auto;
}
=======
body { background-color: #ffffff; }
>>>>>>> 398aacbdb6c10404d5ed58c00ead835b4fcffc5b
