@charset "utf-8"

main{

}
section{
	display: inline-block;
	border: solid 1px black;
	padding: 0 3rem 2rem 0.5rem;
	margin: 10px;
}
#order_history{

}
#change{

}
h3{
	margin: 0.5rem 2rem 0.5rem 1rem;
	display: inline-block;
}