@charset "utf-8"
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html{
  font-family: arial,sans-serif;
  height: 100%;
}
body {
	width: 80%;
	margin: 0 auto;
	background-color: #ffffff;
}
header {
	margin: 10px;
}
h1 {
	margin: 0;
}
#address_select {
	height: 200px;
  border-top: solid 1px #C6C6C6;
  border-bottom: solid 1px #C6C6C6;
	padding: 5px 0;
	font-size: 0;
}