@charset "UTF-8";

#add-cart{
	margin: 5px;
}
#exist{
	color:#23AC0E;
}
#nothing{
	color:#C7243A;
}
#product-info-wrapper{
	margin: 10px;
}
#block{
	margin-left: 10px;
	overflow: hidden;
}
#product-name{
	margin-bottom: 3px;
	font-size: 1.2em;
	font-weight: bold;
}
#product-author{
	margin-bottom: 15px;
	font-size: 0.7em;
}
#product-stock{
	margin-bottom: 5px;
}
#product-description{
	font-size: 0.8em;
}
.product-picture{
	float: left;
	max-width :200px;
	margin-right: 10px;
}
#product-price{
  color: #AA512F;
  font-size: 1.2em;
}
#product-data-available{
	margin-left: 10px;
	font-size: 0.7em;
	color: #717171;
}
#pdatails input[type="submit"]{
	vertical-align: middle;
	font-size: 15px;
	border-style: none;
	cursor: pointer;
	background-color: #DECA98;
	border-radius: 3px;
}
#pdatails input[type="submit"]:hover{
	background-color: #E1D6BD;
}