@charset "UTF-8";

form{
  color:white;
  background-color: #79A8A9;
  margin: 0 20px 0 20px;
  padding: 10px  20% 10px 20%;
  border-radius: 25px;
  overflow: scroll;
  height: 65vh;
}
.form-contents{

}
form h2{
  text-align: center;
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
#product-name, #product-description, #product-price{
  color: #79A8A9;
  background-color: #F4F7F7;
}
input{
  height: 30px;
  font-size: 15px;
  color: #79A8A9;
}
#product-name, #product-author, #product-date-available, #product-keyword{
  width: 700px;
}
#product-description{
  margin-top: 15px;
  width: 700px;
  height: 350px;
  font-size: 15px;
  overflow:scroll;
}
#product-price{
  margin-right: 58%;
}
#file-upload{
}
#file-description{
  font-size: 10px;
  margin-right: 300px;
}
#bott-buttons{
  margin-top: 15px;
  text-align: center;
}
.error-log{
  text-align: center;
  background-color: red;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 15px;
  border: 2px inset black;
}
.success-log{
  text-align: center;
  background-color: green;
  width: 60%;
  margin-bottom: 15px;
  margin-left: 20%;
  border: 2px inset black;
}
