@charset "UTF-8";
.search-results{
  width: 600px;
  height: 300px;
  overflow: scroll;
}
form{
  color:white;
  background-color: #5B7784;
  margin: 0 20px 0 20px;
  border-radius: 25px;
}
.form-contents{
  text-align:right;
  padding-right: 20%;
}
form h2{
  text-align: center;
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
#product-name{
  width: 700px;
  height: 30px;
  font-size: 15px;
}
#product-description{
  margin-top: 15px;
  width: 700px;
  height: 350px;
  font-size: 15px;
  overflow:scroll;
}
#product-price{
  margin-right: 58%;
}
#file-upload{
}
#file-description{
  font-size: 10px;
  margin-right: 300px;
}
#bott-buttons{
  margin-top: 15px;
  text-align: center;
}
.error-log{
  text-align: center;
  background-color: red;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 15px;
  border: 2px inset black;
}
.success-log{
  text-align: center;
  background-color: green;
  width: 60%;
  margin-bottom: 15px;
  margin-left: 20%;
  border: 2px inset black;
}
