@charset "utf-8"

#sidebar{
  /*float:left;*/
  background-color: #AA512F;
  width: 10em;
  height: 100%;
  margin-left: 8em;
  box-shadow        :rgba(0, 0, 0, 0.39) 0px 0px 8px 1px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.39) 0px 0px 8px 1px;
  -moz-box-shadow   :rgba(0, 0, 0, 0.39) 0px 0px 8px 1px;
  position: fixed;
  top: 0;
  z-index: 2;
}
#logo:before{
  content: " ";
  position: absolute;
  top: 100%;
  left: 0em;
  width: 0;
  height: 0;
  border-width: 0 8px 10px 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: #b0966d;
}
#logo:after{
  content: " ";
  position: absolute;
  top: 100%;
  left: 10.5em;
  width: 0;
  height: 0;
  border-width: 10px 8px 0 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: #b0966d;
}