@-webkit-keyframes typetext {
   0% {transform: rotateX(45deg) translate(0,0);}
  100% {transform: rotateX(45deg) translate(0,-3000px) ;}
}
body{


}
h1{
  font-size: 200px;
  text-align: center;
}
.main-text{
  font-size: 50px;
}
.type-pers-parent {
    perspective: 150px;
    -webkit-perspective: 150px;
    height: 800px;

    background-color: black;
    overflow: hidden;
  }
  .type-pers-child {
    margin-left: -20%;
    width: 2000px;
    animation: typetext 60s infinite;
    text-align: justify;
    -webkit-animation: typetext linear 50s;
    color: #F1C40F;
    letter-spacing: 15px;
  }
