/*広告一覧*/
#advertisements{
  /*height: 20%;*/
}
#sails{
  /*height: 20%;*/
}
/*新着商品*/
#recommended{
  /*height: 20%;*/
}
.box{
  display: block;
  border: solid 1px black;
  padding: 0 3rem 2rem 0.5rem;
  margin-bottom: 10px;
}
.link{
  display: inline-block;
  background-color: #DDBC89;
  border: solid 1px black;
  padding: 0.3rem;
  text-align: center;
  width: 48.6%;
  /*margin: 0 auto;*/
}
main a{
  color:black;
}

h3{
  font-size: 1em;
  margin: 0;
}