/*広告一覧*/
#advertisements{
  height: 250px;
}
#sales{
  height: 250px;
  overflow-y: scroll;
}
/*新着商品*/
#recommended{
  height: 200px;
  overflow-y: scroll;
}
.boxdayo{
  background-color: #ffffff; /*確認*/
  display: block;
  border-bottom: solid 1px #C6C6C6;
  padding: 0 3rem 2rem 0.5rem;
  margin-bottom: 2rem;
}
.link{
  display: inline-block;
  background-color: #DDBC89;
  border: solid 1px black;
  padding: 0.3rem;
  text-align: center;
  width: 100%;
}
main a{
  color:black;
}
h2{
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}
h3{
  font-size: 1rem;
  margin: 0;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}
