/*広告一覧*/
#advertisements{
  margin-left: 1%;
  margin-right:1%;
  height: 20%;
}
#sails{
  margin-top: 16%;
  margin-left: 1%;
  margin-right:1%;
  height: 20%;
}
/*新着商品*/
#recommended{
  margin-top: 16%;
  margin-left: 1%;
  margin-right:1%;
  height: 20%;
}
.box{
  display: inline-block;
  border: solid 1px black;
  padding: 0 3rem 2rem 0.5rem;
  margin: 10px;
}