<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/main.css" media="all">
	<title>OICBooks</title>
</head>
<body>
	<div id="wrapper">
	<!-- header start -->
		<header>
			<nav>
	      		<ul>
	        		<li>
	        			<a href="#">カート</a>
	       			</li>
	       			<li>
	          			<p><a href="#">ログイン</a></p>
	        		</li>
	      		</ul>
			</nav>
			<hgroup>
				<div id="seatch_bar">
					<div id="book_btn"></div>
					<div id="isbn_btn"></div>
					<div id="search_btn"></div>
				</div>
				<div id=" account_name"></div>
			</hgroup>
		</header>
		<!-- header end -->
		<!-- sidebar start -->
		<div id="wrapper_left">
			<nav></nav>
		</div>
		<!-- sidebar end -->
		<!-- contents start -->
		<div id="contents">
			<div id="advertisements"></div>
			<div id="sails">
				<div id="new"></div>
				<div id="discount"></div>
			</div>
			<div id="recommended"></div>
		</div>
		<!-- contents end -->
		<!-- footer start -->
		<footer>

		</footer>
		<!-- footer end -->
	</div>
</body>
</html>